In [ ]:
import pandas as pd

In [ ]:
filelocation = '/vinetable.csv'

In [ ]:
df = pd.read_csv (filelocation)
print(df)

             review_id  star_rating  ...  vine  verified_purchase
0        RMDCHWD0Y5OZ9          3.0  ...     N                  N
1        RZSL0BALIYUNU          5.0  ...     N                  Y
2        RIZR67JKUDBI0          3.0  ...     N                  Y
3       R27HL570VNL85F          5.0  ...     N                  Y
4       R34EBU9QDWJ1GD          5.0  ...     N                  Y
...                ...          ...  ...   ...                ...
904760   R6MDTUK723YPY          4.0  ...     N                  N
904761  R10B4417NCK98O          5.0  ...     N                  N
904762  R3V2A0GUZ3JAQ4          4.0  ...     N                  N
904763  R1VYXC7FFG4LGH          4.0  ...     N                  N
904764  R2XJJXFZOM36V5          5.0  ...     N                  N

[904765 rows x 6 columns]

In [ ]:
df1 = df[df['total_votes']>=20]

In [ ]:
df1

             review_id  star_rating  ...  vine  verified_purchase
28      R2243Y3OD8U6KQ          5.0  ...     N                  N
85      R2TGT0CDTCAAHW          5.0  ...     N                  Y
457      RX4D22YSXEF4P          1.0  ...     N                  Y
1028    R3FL2NTLFUSPTQ          5.0  ...     N                  N
1039    R3QTP3YNZXAPPF          3.0  ...     N                  Y
...                ...          ...  ...   ...                ...
904759  R2EJ952S3YK254          4.0  ...     N                  N
904760   R6MDTUK723YPY          4.0  ...     N                  N
904761  R10B4417NCK98O          5.0  ...     N                  N
904762  R3V2A0GUZ3JAQ4          4.0  ...     N                  N
904763  R1VYXC7FFG4LGH          4.0  ...     N                  N

[16520 rows x 6 columns]

In [ ]:
df2 = df1[df1['helpful_votes']/df1['total_votes']>=0.5]
df2

             review_id  star_rating  ...  vine  verified_purchase
28      R2243Y3OD8U6KQ          5.0  ...     N                  N
85      R2TGT0CDTCAAHW          5.0  ...     N                  Y
457      RX4D22YSXEF4P          1.0  ...     N                  Y
1028    R3FL2NTLFUSPTQ          5.0  ...     N                  N
1039    R3QTP3YNZXAPPF          3.0  ...     N                  Y
...                ...          ...  ...   ...                ...
904759  R2EJ952S3YK254          4.0  ...     N                  N
904760   R6MDTUK723YPY          4.0  ...     N                  N
904761  R10B4417NCK98O          5.0  ...     N                  N
904762  R3V2A0GUZ3JAQ4          4.0  ...     N                  N
904763  R1VYXC7FFG4LGH          4.0  ...     N                  N

[14537 rows x 6 columns]

In [ ]:
vineYdf = df2[df2['vine']=='Y']
vineNdf = df2[df2['vine']=='N']

In [ ]:
len(vineYdf)

60

In [ ]:
len(vineNdf)

14477

## Total number of reviews

In [ ]:
len(df)

904765

## Number of 5 star reviews

In [ ]:
len(df[df['star_rating']==5])

572916

In [ ]:
len(vineYdf[vineYdf['star_rating']==5])

34

In [ ]:
len(vineNdf[vineNdf['star_rating']==5])

8212

In [ ]:
# % of 5 star in VINE Y
len(vineYdf[vineYdf['star_rating']==5]) / len(vineYdf) * 100

56.666666666666664

In [ ]:
# % of 5 star in VINE N
len(vineNdf[vineNdf['star_rating']==5]) / len(vineNdf) * 100

56.72445948746287